@import '../../styles/variables';

.bkg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  backdrop-filter: blur(5px);
  z-index: 100;
  overflow: hidden;
}

.wraper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 75px), -50%);
  width: 600px;
  height: 500px;
  background-color: rgb(2, 2, 5);
  z-index: 110;

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(35%, -20%) rotate(5deg);
    width: 70px;
    height: 70px;
    background-color: $black-bkg;
    z-index: 110;
    cursor: pointer;
    & svg {
      color: $color-white;
    }
    &-btn {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      background-color: transparent;
      cursor: pointer;
      & svg {
        color: $color-white;
        transition: all 1s ease;
      }
    }
    &:hover {
      svg {
        color: $color-red;
        transform: scale(1.2);
      }
    }
  }

  &-img {
    width: 110%;
    transition: all 0.3s ease-in;
    z-index: 1000;

    &-container {
      position: absolute;
      top: 60%;
      left: -150px;
      transform: rotate(-5deg) translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 350px;
      background-color: black;
      cursor: pointer;
      &:hover,
      &:focus-visible {
        & .modal-img {
          transform: scale(1.4);
        }
      }
      &-border {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 105;
        & svg {
          color: $color-white;
        }
        &-big {
          position: absolute;
          width: 100%;
          height: 100%;
          & svg {
            color: $color-red;
          }
        }
      }
    }
  }
  &-content {
    padding: 20px;
    &-title {
      margin-top: 25px;
      margin-left: 15px;
      font-size: 35px;
      color: $color-text-white;
    }
    &-consist {
      margin-left: 120px;
      margin-top: 35px;
      font-size: 18px;
      line-height: 25px;
      color: $color-text-white;
    }
  }

  &-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-text-white;
    & span {
      margin-top: -15px;
    }
  }
  &-charts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    margin-top: 20px;
    width: 100%;
  }

  &-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    margin-right: 20px;
  }
}
