@import '../../styles/variables';

.cards {
  //margin: auto;
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  //align-items: center;
  overflow: hidden;
  min-width: 960px;
  max-width: 960px;
  height: 75vh;
  overflow-y: auto;

  &-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 15px;
    min-width: 960px;
    max-width: 960px;
    gap: 30px;
    transition: transform 0.7s ease;
  }
}

.tabs {
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  color: $color-text-white;
  list-style: none;
  gap: 20px;
  font-size: 20px;
  &-item {
    cursor: pointer;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.side-btn {
  height: 200px;
  width: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &-right {
    margin-left: 15px;
  }

  svg {
    color: $color-white;
    transition: color 0.15s ease;
  }

  &:disabled,
  &[disabled] {
    svg {
      color: $color-red;
    }
    opacity: 0;
  }

  &:hover {
    svg {
      color: $color-red;
    }
  }
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: $color-white;
}
::-webkit-scrollbar-thumb {
  background: $color-red;
}
::-webkit-scrollbar-thumb:hover {
  background: darken($color: $color-red, $amount: 15);
}
