$color-red: #e1232d;
$color-white: #fff;
$color-gray: rgb(7, 7, 7);

$color-text-white: #fff;

$black-bkg: #000;

@font-face {
  font-family: LitaFont;
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Rowdies:wght@700&display=swap');
}
